/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

/* Your exercise starts here. */

/* Add your CSS styles below this line. Feel free to replace the comments with your code.
Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  border-radius: 8px;
  /* Style me! Change my border, set a border radius or try out other styles. :) */
}

.button2 {
  color: purple;
  background-color: hotpink;
  border-radius: 14px;
  /* Style me! Change my color or background-color, or both! You can experiment with different color formats here, like HEX, RGB, etc. */
}

.button3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  /* Style me! You can test out changing the font, font size, ...*/
}

.button4 {
  padding: 12px 24px;
  font-size: 16px;
  background-color: hotpink;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  /* Style me! Can you add a shadow to this button? Try playing around with shadow properties - you can even change the shadow color, size, and more. */
}

/* Feel free to play around with other properties, too. */
